@{
    ViewData["Title"] = "Página Inicial";
    Layout = "_Layout";
}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8" />
    <title>@ViewData["Title"]</title>
</head>
<body>
    <h1>@ViewData["Message"]</h1> 
</body>
</html>
